@charset "UTF-8";
/* CSS Document */
#container {
	width: 80%;
	height: 550px;
	margin: 0 10%;
	background-color: silver;
}
#typeRow {
	float: left;
	display: block;
	width: 100%;
	height: auto;
	padding-top: 5px;
	min-height: 30px;
	background-color: whitesmoke;
	overflow: scroll;
}
#giphyContainer {
	clear: both;
	float: left;
	display: inline-block;
	width: 80%;
	height: 100%;
	min-height: 450px;
	margin: 0;
	background-color: lightgray;
}
#nameSearch{
	padding-top: 10px;
	padding-left: 10px;
	height: 540px;
}
#searchBar {
	float: left;
	display: inline-block;
	width: 20%;
	height: auto;
	min-height: 150px;
	margin: 0;
	background-color: silver;
}
#searchKey {
	width: 100%;
	margin: 0;
	
}
#searchWord{
	width: 90%;
	
}
#submit{
	width: 45%;
}
#clearButton{
	width: 45%;
}
.itemButton {
	width: auto;
	display: inline-block;
	margin: 0 5px;
	font-size: 14px;
	font-weight: bold;
}
.giphyImg {
	width: 200px;
	height: 200px;
	display: block;
	text-align: center;
	margin: auto;
}
.imgHolder{
	float: left;
	display: inline-block;
	margin: 5px 0px;
	width: 20%;
	height: auto;
}
.RatingIMG{
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}